body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-size: 10px;
  background-size: contain;
  background: rgb(6, 15, 45, 1);
  min-width: 100%;
  background: linear-gradient(
      90deg,
      rgba(105, 185, 188, 1) 1%,
      rgba(3, 83, 99, 1) 43%,
      rgba(6, 15, 45, 1) 84%
    )
    no-repeat;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  z-index: 2;
  height: 100vh;
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
}

header h1 {
  font-size: 3rem;
  flex-basis: 20%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.svg {
  align-self: center;
  width: 100%;
  flex-basis: 40%;
}

#path5251,
#path5245,
#path5235,
#path5241,
#path5243,
#path5237,
#path5231 {
  transform-origin: 50% 50%;
  animation-name: body;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#path5251 {
  transform-origin: 20, 80;
  transform: rotate(-12deg);
  animation: path5251 3s infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*.choinka {

  animation: choinka1 8s infinite linear;
}

}*/
#arrow {
  scroll-behavior: smooth;
  align-self: center;
  color: #ffffff;
  flex-basis: 10%;
  font-size: 2rem;
  margin-top: 10px;
}

#arrow:hover,
#arrow:active {
  color: rgba(105, 185, 188, 1);
  border-radius: 100%;
  text-shadow: 0 15px 0 rgba(105, 185, 188, 1);
  animation: arrow 1s infinite linear;
}

main {
  background-color: rgba(57, 69, 105, 0.231);
  display: flex;
  justify-content: center;
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 1;
  flex-wrap: wrap;
  border: solid #53432bce;
  border-radius: 25px;
}

#map2 {
  height: 400px;
  width: 500px;
  display: block;
  align-self: left;
  padding: 5em;
  margin: 10%;
  border-radius: 20px;
}
<<<<<<< HEAD
.navbar {
  align-self: flex-end;
  color: #235875;
  flex-basis: 10%;
  font-size: 1rem;
  padding: 5%;
  padding-top: 10%;
=======

#sidebar {
  width: 20em;
  margin-top: 20em;
  border: solid;
  overflow: hidden;
  overflow-y: scroll;
>>>>>>> main
}
./*:hover,
.navbar:active {
  color: rgba(105, 185, 188, 1);
  font-size: 2.5rem;
}*/

.formularz {
  padding: 5%;
  width: calc(100% - 7rem);
  align-self: center;
  background-color: #444;
  color: #ffffff;
  text-align: center;
  flex: 100%;
}

#input {
  border-radius: 20%;
  border: 2px rgba(6, 15, 45, 1) solid;
  background-color: #d3d3d3;
  color: rgb(2, 2, 2);
}
.button {
  flex: 100%;
}

footer {
  background: linear-gradient(
      90deg,
      rgba(105, 185, 188, 1) 1%,
      rgba(3, 83, 99, 1) 43%,
      rgba(6, 15, 45, 1) 84%
    )
    no-repeat;
  height: 50vh;
}

/*-------nowa darmowa mapka-----------*/

#mapid {
  height: 400px;
  width: 500px;
  display: block;
  align-self: left;
  padding: 5em;
  margin: 10%;
  border-radius: 20px;
}

/*========= SIDEBAR =================*/

#sidebar {
  /* width: 20em;
  margin-top: 20em;
  border: solid;
  overflow: hidden;
  overflow-y: scroll;*/
  background-color: #99b2b7;
  border-radius: 25px;
  height: 100vh;
  flex-grow: 2;
  align-self: flex-end;
  padding-top: 6rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
#sidebar ::-webkit-scrollbar {
  display: none;
}

.nav_list {
  padding-left: 20%;
  text-align: left;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #7a6a53;
}

.nav_town {
  /*font-size: ;*/
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /*color: ;*/
}

/* Dropdown */

.nav_dropdown_district {
  overflow: hidden;
  max-height: 24px;
  transition: 0.4s ease-in-out;
}

.nav_dropdown_icon {
  margin-left: auto;
  transition: 0.4s;
}

.nav_dropdown_hills {
  /*background-color: ;*/
  border-radius: 0.25rem;
  margin-top: 0.1rem;

  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav_dropdown_item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: rgb(62, 62, 64);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

/* Show dropdown collapse */
.nav_dropdown_district:hover {
  max-height: 100rem;
}

/*Rotate icon arrow*/
.nav_dropdown_district:hover .nav_dropdown_icon {
  transform: rotate(180 deg);
}

.nav_dropdown:active {
  color: rgba(105, 185, 188, 1);
  font-size: 2.5rem;
}
