body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-size: 10px;
  background-size: contain;
  background: rgb(6, 15, 45, 1);
  min-width: 100%;
  background: linear-gradient(
      90deg,
      rgba(105, 185, 188, 1) 1%,
      rgba(3, 83, 99, 1) 43%,
      rgba(6, 15, 45, 1) 84%
    )
    no-repeat;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  z-index: 2;
  height: 100vh;
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
}

.navbar {
  align-self: flex-end;
  color: #ffffff;
  flex-basis: 10%;
  font-size: 2rem;
  padding: 5%;
  padding-top: 10%;
}
.navbar:hover,
.navbar:active {
  color: rgba(105, 185, 188, 1);
  font-size: 2.5rem;
}

header h1 {
  font-size: 3rem;
  flex-basis: 20%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.svg {
  align-self: center;
  width: 150%;
  flex-basis: 40%;
}

#path5251,
#path5245,
#path5235,
#path5241,
#path5243,
#path5237,
#path5231 {
  transform-origin: 50% 50%;
  animation-name: body;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes body {
  50% {
    transform: translateY(1px);
  }
}

#path5251 {
  transform-origin: 20, 80;
  transform: rotate(-12deg);
  animation: path5251 3s infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes path5251 {
  100% {
    transform: rotate(-12deg);
  }
  0% {
    transform: rotate(1deg);
  }
}

#arrow {
  align-self: center;
  color: #ffffff;
  flex-basis: 10%;
  font-size: 2rem;
  margin-top: 10px;
}

#arrow:hover,
#arrow:active {
  color: rgba(105, 185, 188, 1);
  border-radius: 100%;
  text-shadow: 0 15px 0 rgba(105, 185, 188, 1);
  animation: arrow 1s infinite linear;
}

@keyframes arrow {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
}

.map {
  height: 500px;
  width: 600px;
  display: block;
  align-self: center;
  padding: 5em;
}

.formularz {
  padding: 5%;
  width: calc(100% - 7rem);
  align-self: center;
  background-color: #444;
  color: #ffffff;
  text-align: center;
}

#new {
  border-radius: 20%;
  border: 2px rgba(6, 15, 45, 1) solid;
  background-color: #d3d3d3;
  color: rgb(2, 2, 2);
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media (max-width: 817px) {
  .navbar {
    align-self: flex-end;
    color: #ffffff;
    flex-basis: 10%;
    font-size: 1rem;
    padding: 5%;
    padding-top: 10%;
  }

  header h1 {
    font-size: 1.5rem;
    flex-basis: 20%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }

  .svg {
    align-self: center;
    width: 250%;
    flex-basis: 40%;
  }
  #arrow {
    height: 3%;
    flex-basis: 20%;
  }

  .map {
    height: 200px;
    width: 250px;
  }
}
